@font-face {
  font-family: "fontGraphikBold";
  src: url("../plugin/fonts/GraphikBold.otf");
}

@font-face {
  font-family: "fontGraphikMedium";
  src: url("../plugin/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "fontGraphikLight";
  src: url("../plugin/fonts/GraphikLight.otf");
}

.fontGraphikMedium {
  font-family: "fontGraphikMedium";
}

.fontGraphikBold {
  font-family: "fontGraphikBold";
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.fontGraphikLight {
  font-family: "fontGraphikLight";
}

section {
  padding-top: 5%;
  padding-bottom: 5%;
}

body h1 {
  margin: 0px;
  font-family: "fontGraphikBold";
  font-size: 3.4em;
  font-weight: bold;
}

body h2 {
  margin: 0px;
  font-family: "fontGraphikMedium";
  font-size: 1.8em;
}

body h5 {
  margin: 0px;
  font-family: "fontGraphikBold";
  font-variant: all-small-caps;
  letter-spacing: 2px;
  color: #888484;
}

img {
  max-width: 100%;
  height: auto;
}

.hero_section {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #1d5591), color-stop(140%, #000));
  background-image: linear-gradient(#1d5591 5%, #000 140%);
  width: 100%;
  height: 100vh;
  border-bottom: 5px solid #c69afb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
}

.hero_section .about_my_self {
  position: absolute;
  font-weight: bold;
  color: #4b4b4b;
  color: white;
}

.hero_section .about_my_self span {
  margin-top: 2%;
}

.hero_section .about_my_self button {
  font-family: "fontGraphikBold";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #4b4b4b;
  font-variant: all-small-caps;
  padding: 7px 54px;
  letter-spacing: 1.2px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border: 1.6px solid #888484;
  border-radius: 4px;
  line-height: 2;
}

.skills h2 {
  font-family: "fontGraphikBold";
  line-height: 2;
  font-size: 2.6em;
  font-weight: bold;
  color: #4b4b4b;
}

.skills .row {
  padding: 0px;
}

.skills .chips {
  font-weight: 500;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  margin: 8px 8px 8px 8px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

.icons_section .container .icons_div {
  background-color: white;
  height: 140px;
  border-radius: 12px;
  position: relative;
  bottom: 55px;
  -webkit-box-shadow: 0 40px 30px 0 rgba(34, 89, 185, 0.08);
          box-shadow: 0 40px 30px 0 rgba(34, 89, 185, 0.08);
}

.icons_section .container .icons_div img {
  padding: 20px;
  margin-left: 5%;
  margin-right: 3%;
  width: 120px;
  margin-top: 1%;
  display: inline-block;
}

.specilizing h2 {
  font-family: "fontGraphikBold";
  line-height: 2;
  font-size: 2.6em;
  font-weight: bold;
  color: #4b4b4b;
}

.specilizing p {
  font-family: "fontGraphikMedium";
  line-height: 2;
  color: #888484;
}

.specilizing .card {
  padding: 20px 30px;
  margin-top: 12%;
  text-align: center;
  border: none;
  -webkit-box-shadow: 0 40px 30px 0 rgba(34, 89, 185, 0.08);
          box-shadow: 0 40px 30px 0 rgba(34, 89, 185, 0.08);
}

.specilizing .card h4 {
  font-family: "fontGraphikBold";
  line-height: 1.8;
  font-size: 1.8em;
  font-weight: bold;
  color: #4b4b4b;
}

.about_section {
  width: 100%;
}

.about_section h2 {
  font-family: "fontGraphikBold";
  line-height: 2;
  font-size: 2.6em;
  font-weight: bold;
  color: #4b4b4b;
}

.about_section .card_div {
  min-height: 298px;
  max-height: 696px;
  margin-top: 6%;
  padding: 16px;
  text-align: center;
}

.about_section .card_div .About_title {
  margin-top: 9%;
  font-size: 1.8em;
  font-family: "fontGraphikBold";
  color: #4b4b4b;
}

.about_section .card_div .image_width {
  height: 140px;
}

.about_section .card_div p {
  font-family: "fontGraphikMedium";
  color: #888484;
}

.why_me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.why_me h2 {
  font-family: "fontGraphikBold";
  line-height: 2;
  font-size: 2.6em;
  font-weight: bold;
  color: #4b4b4b;
}

.why_me p {
  font-family: "fontGraphikMedium";
  color: #888484;
}

.skills .progress {
  margin-bottom: 20px;
}

.other_skills_section .container h2 {
  font-family: "fontGraphikBold";
  line-height: 2;
  font-size: 2.6em;
  font-weight: bold;
  color: #4b4b4b;
  margin-bottom: 3%;
}

.other_skills_section .container .card {
  -webkit-box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.18);
          box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.18);
  min-height: 138px;
}

.other_skills_section .container .card .card-title {
  font-family: "fontGraphikBold";
  font-size: 1.3em;
}

.other_skills_section .container .card .card-text {
  font-family: "fontGraphikMedium";
}

.other_skills_section .container .skill_card_parent {
  margin-bottom: 4%;
}

.contact_section {
  text-align: center;
}

.contact_section h2 {
  font-family: "fontGraphikBold";
  line-height: 2;
  font-size: 2.6em;
  font-weight: bold;
  color: #4b4b4b;
}

.contact_section h4 {
  font-size: 1.8em;
  font-family: "fontGraphikBold";
  color: #4b4b4b;
}

.contact_section button {
  font-family: "fontGraphikBold";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #4b4b4b;
  font-variant: all-small-caps;
  padding: 7px 54px;
  letter-spacing: 1.2px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  border: 1.6px solid #888484;
  border-radius: 4px;
  line-height: 2;
}

.contact_section .icons i {
  font-size: 40px;
  padding: 0 68px;
  margin-top: 3%;
  color: #a9a9a9;
}

@media only screen and (max-width: 1200px) {
  .about_my_self h1 {
    font-size: 3em;
  }
  .about_my_self h2 {
    font-size: 1.8em !important;
  }
  h2 {
    font-size: 2em !important;
  }
  .icons_section .container .icons_div {
    height: 20vh;
  }
  .icons_section .container .icons_div img {
    padding: 8px;
    margin-left: 5%;
    margin-right: 3%;
    width: 100px;
    margin-top: 1%;
    display: inline-block;
  }
}

@media only screen and (max-width: 992px) {
  .icons_section .container .icons_div {
    height: 14vh;
  }
  .icons_section .container .icons_div img {
    padding: 8px;
    margin-left: 5%;
    margin-right: 3%;
    width: 78px;
    margin-top: 1%;
    display: inline-block;
  }
}

@media only screen and (max-width: 768px) {
  .icons_section .container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }
  .icons_section .container .icons_div img {
    padding: 8px;
    margin-left: 4%;
    margin-right: 4%;
    width: 80px;
    margin-top: 1%;
    display: inline-block;
  }
}

@media only screen and (max-width: 600px) {
  .icons_section .container {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }
  .icons_section .container .icons_div {
    height: 26vh;
  }
  .icons_section .container .icons_div img {
    padding: 8px;
    margin-left: 2%;
    margin-right: 2%;
    width: 80px;
    margin-top: 1%;
    display: inline-block;
  }
}

@media only screen and (max-width: 425px) {
  .icons_section .container .icons_div {
    height: 40vh;
  }
  .icons_section .container .icons_div img {
    padding: 10px;
    margin-left: 15%;
    margin-right: 5%;
    width: 90px;
    margin-top: 1%;
    display: inline-block;
  }
  .contact_section h2 {
    font-size: 1.4em !important;
  }
}
/*# sourceMappingURL=styles.css.map */